@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.login h1 {
  margin: 0;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login form input {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  border: 0px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  margin-top: 1.4rem;
  background-color: #f5f7fd;
}
.login form input :focus {
  border: 2px solid #2E294E;
}
.login form button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  margin-top: 1.4rem;
  background-color: #3A86FF;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login form button:hover {
  transform: scale(1.05);
}
.login form * + * {
  margin-top: 1.4rem;
}
.login * + * {
  margin-top: 1.4rem;
}
.login small > a {
  color: grey;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}
.login small > a:hover {
  color: #3A86FF;
}
.login a {
  color: #2E294E;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}
.login a:hover {
  color: #3A86FF;
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.error h1 {
  font-size: 3.5rem;
  margin: 0;
  text-decoration: underline;
}
.error h2 {
  font-size: 1.5rem;
}
.error a {
  width: min-content;
  white-space: nowrap;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  border: 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  margin-top: 1.4rem;
  background-color: #3A86FF;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.error a:hover {
  transform: scale(1.05);
}

.backoffice {
  display: flex;
  height: 100vh;
}
.backoffice * {
  box-sizing: border-box;
}
.backoffice aside {
  padding: 30px;
  flex: 0 0 250px;
  background: rgb(37, 37, 37);
  color: white;
}
.backoffice aside h3 {
  font-size: 14px;
  opacity: 0.5;
  margin: 5px 0;
  margin-top: 10px;
}
.backoffice aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.backoffice aside nav ul a {
  display: block;
  padding: 10px;
  color: currentColor;
  text-decoration: none;
  transition: 0.3s;
}
.backoffice aside nav ul a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.backoffice aside nav ul a:active {
  background: rgba(255, 255, 255, 0.2);
}
.backoffice aside nav ul a i {
  padding-right: 10px;
}
.backoffice main {
  padding: 20px;
  background: rgb(249, 249, 249);
  flex: 1;
  overflow-y: auto;
}
.backoffice main > * {
  background: white;
  border: solid 1px rgb(237, 237, 237);
  padding: 20px;
}

.article-edit-paragraphs > div {
  padding: 10px;
  background: rgba(243, 248, 255, 0.5490196078);
  border: solid 1px #c5d9f1;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
}
.article-edit-paragraphs > div + div {
  margin-top: 20px;
}
.article-edit-paragraphs > div [id^=editor-container] {
  height: 200px;
  grid-area: 2/1/3/3;
}
.article-edit-paragraphs > div [id^=editor-container] [class^=ql] {
  background: white;
}
.article-edit-paragraphs > div [id^=editor-container] .ql-container {
  height: 60%;
}

.form-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}
.form-row > div {
  flex: 1;
}
.form-row + .form-row {
  margin: 1rem 0;
}

.answers-list {
  padding-left: 1em;
}

.comment-container {
  background: white;
  border: 1px solid #ccc;
  margin: 1em;
  padding: 0.5em;
}
.comment p {
  margin-bottom: 0;
}
.comment-header {
  display: flex;
  justify-content: space-between;
}
.comment-header h4 {
  font-size: 16px;
  font-weight: 600;
}
.comment-header p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  font-style: italic;
  margin: 0.5em 0;
}
.comment-header-actions {
  display: flex;
  gap: 1em;
}
.comment-header-actions i {
  padding-right: 0.5em;
  position: relative;
  top: -0.1em;
}
.comment-header-actions span {
  opacity: 0.5;
  cursor: pointer;
}
.comment-header-actions *:hover {
  text-decoration: underline;
  opacity: 1;
}

.comment-form {
  margin: 1em;
  padding: 0.5em;
  padding-left: 1em;
  border-left: 1px solid #ccc;
}
.comment-form .form-group {
  margin-bottom: 0.5em;
}
.comment-form .form-success {
  color: green;
}
.comment-form .form-action {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

/*# sourceMappingURL=style.css.map */
